# Imports

In [1]:
import pandas as pd

Datasets import.

In [2]:
nba = pd.read_csv("./Datasets/nba_elo.csv")
pollution = pd.read_csv("./Datasets/pollution_2000_2023.csv", index_col=[0])
us_accidents = pd.read_csv("./Datasets/US_Accidents_March23.csv")
nba_teams = pd.read_csv("./Datasets/team.csv")

### Blocking

#### NBA dataset

In [3]:
nba_blocking = nba.copy()
nba_blocking["block"] = nba_blocking["season"].astype(str) + nba_blocking["team1"] + nba_blocking["team2"]
nba_blocking

,index,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,...,elo2_post,carmelo1_pre,carmelo2_pre,carmelo1_post,carmelo2_post,carmelo_prob1,carmelo_prob2,score1,score2,block
0,0,1946-11-01,1947,0,NaN,TRH,NYK,1300.000000,1300.000000,0.640065,...,1306.7233,NaN,NaN,NaN,NaN,NaN,NaN,66.0,68.0,1947TRHNYK
1,1,1946-11-02,1947,0,NaN,CHS,NYK,1300.000000,1306.723300,0.631101,...,1297.0712,NaN,NaN,NaN,NaN,NaN,NaN,63.0,47.0,1947CHSNYK
2,2,1946-11-02,1947,0,NaN,PRO,BOS,1300.000000,1300.000000,0.640065,...,1294.8458,NaN,NaN,NaN,NaN,NaN,NaN,59.0,53.0,1947PROBOS
3,3,1946-11-02,1947,0,NaN,STB,PIT,1300.000000,1300.000000,0.640065,...,1295.3092,NaN,NaN,NaN,NaN,NaN,NaN,56.0,51.0,1947STBPIT
4,4,1946-11-02,1947,0,NaN,DTF,WSC,1300.000000,1300.000000,0.640065,...,1320.3811,NaN,NaN,NaN,NaN,NaN,NaN,33.0,50.0,1947DTFWSC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67063,67063,2018-04-27,2018,0,q,PHI,MIA,1660.410398,1505.736767,0.812452,...,NaN,1670.684530,1500.681024,NaN,NaN,0.817316,0.182684,NaN,NaN,2018PHIMIA
67064,67064,2018-04-28,2018,0,q,HOU,MIN,1732.213741,1551.421614,0.834294,...,NaN,1748.389768,1564.620620,NaN,NaN,0.848166,0.151834,NaN,NaN,2018HOUMIN
67065,67065,2018-04-28,2018,0,q,OKC,UTA,1619.559364,1686.339186,0.547663,...,NaN,1632.277046,1677.637894,NaN,NaN,0.637286,0.362714,NaN,NaN,2018OKCUTA
67066,67066,2018-04-28,2018,0,q,CLE,IND,1552.252717,1556.721843,0.634117,...,NaN,1551.305868,1551.412437,NaN,NaN,0.733581,0.266419,NaN,NaN,2018CLEIND
67067,67067,2018-04-28,2018,0,q,TOR,WAS,1675.616215,1482.671174,0.843741,...,NaN,1677.021761,1487.322624,NaN,NaN,0.841645,0.158355,NaN,NaN,2018TORWAS

This blocking strategy effectively makes it possible to access any of the records by just using the season and abbreviations of the teams that played.

Blocking strategy: Match_Season + Team1 + Team2

#### US Traffic accidents dataset

In [4]:
accidents_blocking = us_accidents.copy()

In [5]:
accidents_blocking["block"] = accidents_blocking["Start_Time"].str.split("-").apply(lambda x: x[0]) + accidents_blocking["City"] + accidents_blocking["State"]
accidents_blocking["block"]

0                2016DaytonOH
1          2016ReynoldsburgOH
2          2016WilliamsburgOH
3                2016DaytonOH
4                2016DaytonOH
                  ...
7728389       2019RiversideCA
7728390       2019San DiegoCA
7728391          2019OrangeCA
7728392     2019Culver CityCA
7728393        2019HighlandCA
Name: block, Length: 7728394, dtype: object

This blocking strategy makes it possible to access records faster through the year, state and city where they occurred.

Blocking strategy: Year + City + State

#### Air Pollution dataset

In [6]:
air_blocking = pollution.copy()

In [7]:
air_blocking

,Date,Address,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,...,CO 1st Max Hour,CO AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI
0,2000-01-01,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.019765,0.040,10,37,0.878947,...,23,25.0,3.000000,9.0,21,13.0,19.041667,49.0,19,46
1,2000-01-02,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.032,10,30,1.066667,...,0,26.0,1.958333,3.0,22,4.0,22.958333,36.0,19,34
2,2000-01-03,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.009353,0.016,9,15,1.762500,...,8,28.0,5.250000,11.0,19,16.0,38.125000,51.0,8,48
3,2000-01-04,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.015882,0.033,9,31,1.829167,...,23,34.0,7.083333,16.0,8,23.0,40.260870,74.0,8,72
4,2000-01-05,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,0.007353,0.012,9,11,2.700000,...,2,42.0,8.708333,15.0,7,21.0,48.450000,61.0,22,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
665409,2023-06-26,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.043941,0.050,12,46,0.000000,...,0,0.0,0.117391,0.3,7,0.0,2.282609,4.3,6,4
665410,2023-06-27,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.046235,0.054,12,50,0.000000,...,0,0.0,0.091667,0.2,8,0.0,2.283333,5.2,6,5
665411,2023-06-28,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.046588,0.055,7,51,0.000000,...,0,0.0,0.091667,0.2,6,0.0,2.487500,4.8,19,4
665412,2023-06-29,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.048765,0.056,9,54,0.000000,...,0,0.0,0.052174,0.1,8,0.0,2.086957,4.1,8,4
665413,2023-06-30,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Cheyenne,0.048333,0.051,7,47,0.000000,...,0,0.0,0.020833,0.2,11,0.0,3.200000,14.8,3,13

In [8]:
air_blocking["Date"].str.split("-").apply(lambda x: x[0]) + air_blocking["State"] + air_blocking["City"]

0          2000ArizonaPhoenix
1          2000ArizonaPhoenix
2          2000ArizonaPhoenix
3          2000ArizonaPhoenix
4          2000ArizonaPhoenix
                 ...
665409    2023WyomingCheyenne
665410    2023WyomingCheyenne
665411    2023WyomingCheyenne
665412    2023WyomingCheyenne
665413    2023WyomingCheyenne
Length: 665414, dtype: object

This blocking strategy is essentially the same as the one used in the US Accidents dataset, however the states in this one are not abbreviated.

Blocking strategy: Year + City + State